<section id="conflict-check">
  <div class="content">
    <div class="form-row"><!--
      --><div class="input-block"><!--
        --><label class="input-field">Client Approval Date</label><!--
        --><material-datepicker [(date)]="date1" (onSelect)="onSelect($event)"></material-datepicker><!--
      --></div><!--
      --><div class="input-block"><!--
        --><label class="input-field">Launch Week Date</label><!--
        --><material-datepicker [(date)]="date2" (onSelect)="onSelect($event)"></material-datepicker><!--
      --></div><!--
    --></div>
  </div>
</section>
