<footer>
  <div class="footer-content">
    <div class="footer__company-logo">
      <img src="../assets/images/sln-logo__pink.svg" alt="Student Life Network">
    </div>
    <div class="footer__address">
      312 Adelaide St W, Toronto, ON M5V 1R2 - Suite 301
    </div>
    <div class="footer__links">
      <a href="">Contest Rules</a>
      <a href="">Contact Us</a>
      <a href="">Privacy Policy</a>
      <a href="">FAQ</a>
    </div>
    <div class="footer__social-icons">
      <a href="">
        <img src="../assets/images/icon-facebook.svg" alt="Facebook">
      </a>
      <a href="">
        <img src="../assets/images/icon-twitter.svg" alt="Twitter">
      </a>
      <a href="">
        <img src="../assets/images/icon-instagram.svg" alt="Instagram">
      </a>
      <a href="">
        <img src="../assets/images/icon-linkedin.svg" alt="LinkedIn">
      </a>
    </div>
  </div>
</footer>
