footer {
  display: block;
  width: 100%;
  height: 237px;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #E1E8ED;
}
.footer-content {
  display: block;
  position: relative;
  margin: 48px auto;
  width: 95%;
  max-width: 640px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  color: #8899A6;
  text-align: center;
}
.footer__company-logo img {
  height: 32px;
}
.footer__links a {
  margin: 0 16px;
}
.footer__social-icons a img {
  width: 32px;
  height: 32px;
  margin: 8px;
}
